<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<div class="header">
  <span class="logo">ReCulture</span>
</div>

<div class="content">
  <div class="heading">
    <h2>Do you really want to make a change?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac magna ultricies, accumsan elit ut, eleifend turpis.</p>
  </div>

  <div class="feedback-long">
    <div class="feedback-headings">
      <div class="feedback-heading selected">Overview
        <div class="blip"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Management
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Work/Life Balance
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Work Environment
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Salary
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Benefits
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading not-selected">Submit
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
    </div>
    <div class="feedback-sections">
      <div class="feedback-section"></div>
      <div class="feedback-section"></div>
      <div class="feedback-section"></div>
      <div class="feedback-section"></div>
      <div class="feedback-section"></div>
      <div class="feedback-section"></div>

    </div> <!-- feedback-sections -->
    
  </div> <!-- feedback-long -->


</div> <!-- content -->