<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

<div class="header">
  <%= image_tag("top-nav-user.png") %>
</div>

<div class="content">
  <div class="heading">
    <h1>Do you really want to make a change?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac magna ultricies, accumsan elit ut, eleifend turpis.</p>
  </div>

  <div class="feedback-long">
    <div class="feedback-headings">
      <div class="feedback-heading 1 selected">Work/Life Balance
        <div class="blip"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading 2 not-selected">Work Environment
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading 3 not-selected">Management
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading 4 not-selected">Salary
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading 5 not-selected">Benefits
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
      <div class="feedback-heading 6 not-selected">Submit
        <div class="blip hidden"><%= image_tag("blip.jpg") %></div>
      </div>
    </div>
    <div class="feedback-sections">
      <div class="feedback-section">
        
      </div>
      <div class="feedback-section 1 selected">
        <%= render "survey_worklife_balance" %>
      </div>
      <div class="feedback-section 2 hidden">
        <%= render "survey_work_environment" %>
      </div>
      <div class="feedback-section 3 hidden">
        <%= render "survey_management" %>
      </div>
      <div class="feedback-section 4 hidden"></div>
      <div class="feedback-section 5 hidden"></div>
      <div class="feedback-section 6 hidden"></div>

    </div> <!-- feedback-sections -->
    
  </div> <!-- feedback-long -->


</div> <!-- content -->